@font-face {
	font-family: SFDecoTechno;
	src: url("/fonts/SFDecoTechno.ttf");
}

@font-face {
	font-family: JohnyPalkons;
	src: url("/fonts/JohnyPalkons.ttf");
}

@font-face {
	font-family: Runes;
	src: url("/fonts/RunesWritten.ttf");
}

@font-face {
	font-family: Pixel;
	src: url("/fonts/PressStart.ttf");
}

@font-face {
	font-family: Park;
	src: url("/fonts/ParkLaneNf.ttf");
}

@font-face {
	font-family: Cardinal;
	src: url("/fonts/Cardinal.ttf");
}

@font-face {
	font-family: Jazz;
	src: url("/fonts/FontdinerdotcomJazzDark.ttf");
}

@font-face {
	font-family: Jazzy;
	src: url("/fonts/JazzyCaveman.ttf");
}

@font-face {
	font-family: Stage;
	src: url("/fonts/Stage.ttf");
}

@font-face {
	font-family: Reynold;
	src: url("/fonts/Reynold Art Deco.ttf");
}

@font-face {
	font-family: Universalis;
	src: url("/fonts/UniversalisRegular.otf");
}

@font-face {
	font-family: UniversalisBold;
	src: url("/fonts/UniversalisBold.otf");
}
